* {
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

.background {
    background: linear-gradient(rgb(19, 18, 18), rgb(34, 8, 83));
    border: red solid;
    width: 100%;
    height: 100%;
    position: absolute;
}

body {

}

.cabeca {
    padding: 3px;
    height: 10%;
    border: white solid;
    width: 100%;
    position: relative;
    
}

.semi-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: yellow solid;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
}

.logo {
    font-size: xx-large;
    font-style: normal;
    color: #fff;
    font-weight: bold;
    font-family: Rubik Giltch, cursive;
    border: pink solid;
}

.semi-logo menu ul li {
    list-style: none;
}

.semi-logo ul li {
    display: inline-block;
}

.menu {
    letter-spacing: 2.4px;
    
    font-size: 20px;
    border: blue solid;
    margin-left: 30%;
}

.menu li {
    color: #fff;
    text-decoration: none;
    font-family: Rubik Giltch, cursive;
    border: green solid;
    margin-right: 40px;
    
}

.corpo pre {
    font-size: 100px;
    color: #fff;
    font-family: Rubik Giltch, cursive;
    align-content: center;
}