@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@300&family=Roboto+Mono:wght@300&family=Rubik+Glitch&family=Source+Serif+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 105px;
}

.title{
    font-family: Poppins, sans-serif;
    text-align: center;
}

.moreinfo h2 {
    letter-spacing: 8px;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 37px;
    margin-top: 15px;
}

.qrcode {
    padding: 20px;
    justify-content: center;
    right: 0;
    display: flex;
}

.all {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.all .download p  {
    text-align: center;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.all .download p a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.all .download p a:hover {
    color: rgb(178, 90, 236);
    transition: .7s;
}

.all .download a p {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.all .download a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.all .download a:hover {
    color: rgb(167, 85, 85);
    font-size: 25px;
    transition: .7s;

}

.all .download a pseudo-class:hover {
    text-decoration: none;
    color: rgb(209, 18, 18);
    font-size: 20px;
    transition: 2s;
}


@media screen and (min-width: 845px){
    .title {
        display: none;
    }
    
    *{
        overflow: hidden;
    }
}

@media screen and (max-width: 844px) {
    main {
        display: flex;
        flex-direction: column;
    }

    h2 .celular-titulo {
       display: none;
    }

    main .celular {
        display: flex;
        justify-content: center;
    }

    .all .moreinfo {
        text-align: center;
        margin-top: 30px;
    }

    .all .moreinfo-h2 {
        display: none;
        font-size: 27px;
    }
}